﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lamentamos |  Obtenha seus adesivos grátis | Kellogg's</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
    <meta name="robots" value="noindex" />


    <link rel="shortcut icon" href="~/Content/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="~/Content/css/bootstrap4.css">
    <link rel="stylesheet" href="~/Content/css/styles.css">
    <style type="text/css">
        .txtsubIndex {
            margin: 30px auto 35px auto
        }

        .divindex {
            margin-bottom: 40px
        }
    </style>
</head>
<body>
    <div class="content  contentKellogs">
        <div class="container containerKellogs">
            <div class="divindex">
                <div class="logo"><img src="~/Content/img/logo.png" alt="Kellog's" clasS="img-fluid" /></div>


                <div class="txtIndex">LAMENTAMOS...</div>
                <div class="txtsubIndex">Todos os autocolantes já foram entregues</div>

                @Html.ActionLink("Finalizar", "Index", "jajajaja", null, new { @class = "btn btnEnviar" })
            </div>
            <div class="imgpegat"><img src="~/Content/img/pegatinas_especial.png" alt="adesivos grátis" /></div>
            <div class="imgpegat_tablet"><img src="~/Content/img/pegatinas_tablet_especial.png" alt="adesivos grátis" class="img-fluid" /></div>
            <div class="imgpegat_smart"><img src="~/Content/img/pegatinas_smart_especial.png" alt="adesivos grátis" class="img-fluid" /></div>
        </div>
        <div id="imgcoc"><img src="~/Content/img/cocina.png" alt="cocina disney"></div>
    </div>

<div id="footer">
    <ul>
        <li><a target="_blank" href="">POLÍTICA DE COOKIES</a></li>
        <li><a target="_blank" href="https://www.kelloggs.pt/pt_PT/privacy-policy.html">POLITICA DE PRIVACIDADE</a></li>
        <li><a target="_blank" href="">TERMOS E CONDIÇÕES</a></li>
        <li class="ult"><a href="https://www.kelloggs.pt/pt_PT/contact_us_pt.html">CONTACTO</a></li>
    </ul>
    <div class="copy">™, ®,© 2019 Kelloggs Company</div>
</div>



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
