﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Consigue tus pegatinas gratis | Kellogg's</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
    <meta name="robots" value="noindex" />
    <link rel="shortcut icon" href="~/Content/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/img/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/css/bootstrap4.css")
    @Styles.Render("~/Content/css/styles.css")
    @Styles.Render("~/Content/css/cookies.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/bootstrap4.min.js")
    @Scripts.Render("~/Scripts/jquery.min.js")
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
   
</body>
</html>
