/* CSS Document */
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import url("../css/font-michelin.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600i,700i,800i&display=swap');

@font-face { font-family: MontserratBold; 	font-style: normal; font-weight: 900; src: url("/Content/_MyHtml/front/fonts/montserrat-bold.ttf") format("opentype")}
@font-face { font-family: MontserratSemiBold; 	font-style: normal; font-weight: 500; src: url("/Content/_MyHtml/front/fonts/montserrat-semibold.ttf") format("opentype")}
@font-face { font-family: MontserratLight; 	font-style: normal; font-weight: 300; src: url("/Content/_MyHtml/front/fonts/montserrat-light.ttf") format("opentype")}

html { height: 100%;}
body { display: flex; flex-direction: column; height: 100vh; margin:0px; padding:0px; background-color:#FFF; color:#000; background-image:url(../img/body_back.png); background-position: right center; background-repeat: no-repeat; background-size: contain}
.bizda {background-image:url(../img/body_back_dcha.png); background-position: left center;}
.bdcha {background-image:url(../img/body_back_dcha_2.png); background-position: right center;}
@media screen and (min-width: 1200px) {
	.bdchaleg {background-image:url(../img/body_back_leg.png); background-position: right top; background-size: inherit}
}
/*
@media screen and (min-width: 1440px) and (max-width: 1600px)  {body { background-size: cover}}
@media screen and (min-width: 1540px) and (min-height:860px)  {body { background-size: contain}}
@media screen and (min-width: 1600px) {body { background-size: cover}}
@media screen and (max-width: 575px) {
	body { background-image: none / background-image:url(../img/fnd_body_sm.png); background-position: right bottom; background-repeat: no-repeat* /}
}
*/

.content { flex: 1 0 auto; padding: 0px 0px 20px 0px; margin:0px;  background-repeat:no-repeat; background-position: top center;}

.header {margin:0px; padding: 0px 0px 0px 0px;}
.header .headlogo {text-align: center; border-bottom:solid 2px #ffe300; padding:18px 0px 18px 0px; margin:0px; background-color:#FFF;}
.header .headmenumov {display: none; background-color:#FFF} 
.header .headmenu {margin:auto auto; padding: 0px; max-width: 1440px; text-align: left; padding-left: 25px; position: relative; cursor:pointer}
.header .bodychildren {display: none}
.header .bodychildren img {width:100%;}
@media screen and (max-width: 575px) {
	.header { padding: 0px}
	.header .headlogo {text-align: right; padding: 14px 15px 20px 0px; border-bottom:solid 3px #ffe300;}
	.header .headmenu  {display: none}
	.header .headmenumov {display: inherit;padding: 0px; margin: 0px; float: left} 
	.header .bodychildren {display: inherit}
}
.header .menudesplegado, .header .menudesplegadomov { z-index: 1000; position: absolute; width:220px; border-top: solid 4px #ffe300; background-color: #0254AA;  font-family: ArialBoldIt; font-size: 14px; font-weight: bold; font-style: italic; font-stretch: normal; letter-spacing: normal; color: #ffffff; text-transform: uppercase;}
.header .menudesplegado:before, .header .menudesplegadomov:before{ position: absolute; content: ""; width: 74px; height: 4px; background: #0254AA; top: 0; margin-top: -4px; }
.header .menudesplegado ul, .header .menudesplegadomov ul {margin:0px; padding: 10px 0px 8px 0px}
.header .menudesplegado ul li, .header .menudesplegadomov ul li{list-style-image: none; list-style-type: none; margin:0px; padding: 0px; height: 40px}
.header .menudesplegado ul li a, .header .menudesplegadomov ul li a {margin:0px; padding: 10px 0px 10px 15px; color:#FFF}

.footer {-webkit-flex-shrink: 1; flex-shrink: 1; background-color:#0254aa; text-align:center; margin:0px; padding:0px 0px; color:#FFF}
.footer ul {  margin:0px; padding:7px 0px;  border:0px;}
.footer ul li { display:inline; list-style-type:none; list-style:none; text-align: center; margin:0px 7px; padding:0px 0px; }
.footer .slogan {font-family: ArialBoldIt; font-size: 9px; font-weight: bold; font-style: italic; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #ffffff; text-transform: uppercase; margin: 0px 0px 13px 0px; padding: 0px}
.footer .copy { font-family: Arial; font-size: 8px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #ffffff; margin: 0px 0px 8px 0px; padding: 0px}
@media screen and (max-width: 575px) {
	.footer ul {padding-top:20px}
	.footer .copy {padding: 10px 20px}
}







/*******************/
/*    C O M Ú N    */
/*******************/
.contentMichelin {margin: -74px 0px 0px 0px; padding: 110px 200px 0px 0px; background-image: url(../img/back_paralelo.png); background-position: top right; /*background-size:cover;*/}
.contentMichelin_dcha {margin: -74px 0px 0px 0px; padding: 110px 00px 0px 200px; background-image: url(../img/back_paralelo_dcha.png); background-position: top left; /*background-size:cover;*/}
.contentMichelinLeg { background-image: url(../img/back_paralelo_leg.png);}
.containerMichelin {margin: 0px auto; max-width: 900px; padding: 0px}


.tit {font-family: MichelinBold; font-size: 25px; font-weight: 900; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #0254aa; text-transform:uppercase; padding: 0px 5px}
@media screen and (max-width: 767px) {
	/*.contentMichelin {padding-bottom: 540px; background-image:url(../img/fnd_body_sm.png); background-position: right bottom; background-repeat: no-repeat}*/	
}
@media screen and (max-width: 575px) {
	.containerMichelin {padding: 0px 10px}
	.tit {font-size: 28px; }
	.contentMichelin {margin: 0px 0px 0px 0px; padding: 50px 0px 0px 0px !important;}
	.contentMichelin_dcha {margin: 0px 0px 0px 0px;padding: 50px 00px 0px 0px !important;}
}
@media screen and (max-width: 1024px) {
	.contentMichelin { padding: 110px 0px 0px 0px; background-color:#FFF; }
	.contentMichelin_dcha { padding: 110px 0px 0px 0px; background-color:#FFF; }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
	.contentMichelin { padding: 110px 0px 0px 0px; background-image: url(../img/back_paralelo_1200.png);}
	/*.contentMichelin_dcha { padding: 110px 0px 0px 0px; background-image: url(../img/back_paralelo_1200.png); }*/
	/*.contentMichelinLeg { padding: 110px 0px 0px 0px; background-image: url(../img/back_paralelo_1200_leg.png); }*/
}
@media screen and (min-width: 1025px) and (max-width: 1200px) and (min-height:850px){
	/*.contentMichelin { padding: 110px 0px 0px 0px; background-color:#FFF; }*/
	/*.contentMichelin_dcha { padding: 110px 0px 0px 0px; background-color:#FFF; }*/
}

@media screen and (min-width: 1300px) and (max-width: 1400px) and (min-height: 800px) and (max-height: 1170px){
	.contentMichelin { padding: 110px 30px 0px 0px; /*background-image: url(../img/back_paralelo_1200.png);*/ }
	/*.contentMichelin_dcha { padding: 110px 0px 0px 0px; background-image: url(../img/back_paralelo_1200.png); }*/
	/*.contentMichelinLeg { padding: 110px 0px 0px 0px; background-image: url(../img/back_paralelo_1200_leg.png); }*/
}
@media screen and (min-width: 1300px) and (max-width: 1400px) and (min-height: 1171px){
	.contentMichelin { padding: 110px 0px 0px 0px; background-color:#FFF; }
	.contentMichelin_dcha { padding: 110px 0px 0px 0px; background-color:#FFF; }
}
@media screen and (min-width: 1400px) and (min-height:900px){
	/*.contentMichelin { padding: 110px 0px 0px 0px; background-image: url(../img/back_paralelo_1200.png); }*/
	/*.contentMichelin_dcha { padding: 110px 0px 0px 0px; background-image: url(../img/back_paralelo_1200.png); }*/
	.contentMichelinLeg { padding: 110px 0px 0px 0px; background-image: url(../img/back_paralelo_1200_leg.png); }
}




.bindex {background-image:url(../img/fnd_ind_body.png); background-position: left top; background-size: inherit}
@media screen and (max-width: 1320px) and (min-height: 700px) {
	.bindex {background-image:url(../img/fnd_ind_body_small.jpg); background-position: left top; background-size: contain}
}
@media screen and (min-width: 1321px)  and (max-width: 1400px) and (min-height: 700px) {
	.bindex { background-size: contain}
}
@media screen and (max-width: 1400px) and (min-height: 1180px) {
	.bindex {background-size: cover;}
}
@media screen and (min-width: 1401px) and (min-height: 800px)  and (max-height: 1400px) {
	.bindex { background-size: contain;}
}
@media screen and (min-width: 1401px) and (min-height: 1100px)  and (max-height: 1400px) {
	.bindex { background-image:url(../img/fnd_ind_body_big.jpg); background-size: contain;}
}
@media screen and (min-width: 1401px) and (min-height: 1401px) {
	.bindex {background-image:url(../img/fnd_ind_body_big.jpg); background-position: left top; background-size: contain;}
}
@media screen and (max-width: 750px) {
	.bindex {background-image:none;}
}
	
.contentMichelinIndex {margin: -74px 0px 0px 0px; padding: 20px 0px 0px 0px; background-image: url(../img/fnd_ind_1440.png); background-position: top right;}
.containerMichelinIndex {margin: 0px auto; max-width: 1440px; padding: 0px; text-align: right}
@media screen and (min-width: 1400px) {
	.contentMichelinIndex {margin: -74px 0px 0px 0px; padding: 20px 0px 0px 0px; background-image: url(../img/fnd_ind.png); background-position: top left;}
}
@media screen and (max-width: 750px) {
	.contentMichelinIndex {background-color:#FFF;}
	.containerMichelinIndex {text-align: center}
}
@media screen and (max-width: 575px) {
	.containerMichelinIndex {padding: 0px 20px}
}
/**********************/
/*  E N D  C O M Ú N  */
/**********************/


/**************/
/*  GRUPO #1  */
/**************/
.imgIndex { padding: 0px 60px 0px 0px; text-align: right}
.txtIndex {font-family: 'Open Sans'; font-size: 19px; font-weight: normal; font-style: italic; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #0254aa; max-width:500px; margin: 30px 30px 10px auto; padding: 0px 10px; text-transform: uppercase}
.txtIndex span {font-size: 25px; margin-top: 0px; display: inline-block;}
.txtIndex span.precIndex {font-size: 60px}
.btnGroupbtnIndex {margin: 0px 30px 10px 0px}
.btnIndex {margin:20px auto;  font-family: 'Open Sans';  font-size: 14px;  font-weight: bold; font-style: normal;  font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #ffe300; width:200px; padding: 12px 0px 12px 0px; background-color: #0254aa; text-transform: uppercase; display: inline-block; cursor:pointer}
.cuadrosGroup {max-width:700px; margin: 0px 20px 0px auto}
.gifIndex{ margin: 0px 0px 0px 0px; padding: 0px;  margin-top: -150px;}
.subMainIndex {font-family: MichelinSemiBold; font-size: 11.6px; font-weight: 600; font-style: normal;font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center;  color: #ffffff; border-radius: 12.8px; background-color: #0254aa; padding:5px 10px; max-width:380px; margin-left:10px }
.recMainIndex {  font-family: Arial; font-size: 12.2px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.06; letter-spacing: normal;  text-align: center; color: #0254aa; border-radius: 5.8px; border: solid 1.2px #0254aa; display: inline-block; margin:5px 1px 0px 1px; padding:5px 2px 5px 2px;}
.indNoBorder {border: 0px}
.indWi33 {/*width:31.7%;*/ width:100px} .indWi100 {/*width:100%;*/ width:330px}
.indDet00 { white-space: nowrap;font-family: Arial; font-size: 14.2px; font-weight: bold; font-style: normal; font-stretch: normal; letter-spacing: normal; text-align: left;  color: #0254aa; display: inline-block; width:32%; padding-left: 10px}
.indDet01 { font-family: MichelinBold; font-size: 16.2px; font-weight: bold; font-style: normal; font-stretch: normal; letter-spacing: normal; text-align: center; color: #0254aa; display: inline-block; line-height: 1; width:34%; padding-top: 2px}
.indDet02 { font-family: MichelinBold; font-size: 16.2px; font-weight: bold; font-style: normal; font-stretch: normal; letter-spacing: normal; text-align: center; color: #0254aa; display: inline-block; line-height: 1; width:34%}
.indDet03 { white-space: nowrap; font-family: ArialBold; font-size: 14.2px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.3; letter-spacing: normal; text-align: center; color: #0254aa;padding: 0px 30px;}
.indDet04 { font-family: MichelinBold; font-size: 16.2px; font-weight: bold; font-style: normal; font-stretch: normal; letter-spacing: normal; text-align: center; color: #0254aa; display: inline-block; line-height: 0.8;padding: 0px 50px; padding-top:2px}
.cuadros {display: flex; flex-direction: row; padding-bottom: 70px}
.cuadrodetalle {width: 340px; text-align: right; margin-right: 10px}
#gif01 {display: inherit} #gif02 {display: none} #btnTaller {margin-top: 100px}
@media screen and (max-width: 1024px) {
	.gifIndex {margin: 0px; text-align: center}
	#gif01 {display: none} #gif02 {display: inherit} #btnTaller {margin-top: 20px}
}
@media screen and (min-width: 1025px) and (max-width: 1300px) {.gifIndex {margin-top: -50px;}}

	
@media screen and (max-width: 1330px) {
	/*.cuadros {display: flex; flex-direction: row;}
	.cuadrodetalle { margin: 10px auto 40px auto; }*/
} 
@media screen and (max-width: 420px) {
	.cuadrodetalle {width: 100%}
	.subMainIndex {width:100%}
	.indNoBorder {display: none}
	.indWi100 {width:100%}
	.frmCol00 { padding: 0px}
	.indDet04 {padding: 0px 20px}
	.txtIndex span {font-size: 25px}	
}
@media screen and (max-width: 575px) {
.btnIndex {width: 100%}
}

@media screen and (max-width: 750px) {
	.imgIndex { padding: 20px 0px 0px 0px; text-align: center;}
	.txtIndex {margin: 30px auto 10px auto}
	.btnGroupbtnIndex {margin: 0px auto 30px auto; }
	.cuadrosGroup { max-width: 700px; margin: 0px auto 0px auto; }
	.cuadrodetalle {text-align: center;margin: 0px auto 20px auto;}
	.cuadros {  flex-direction: column}
	.btnIndex  {display: block; width: 350px}
}
@media screen and (max-width: 575px)  {
	.btnIndex  { width: 100%}
	.subMainIndex {margin-left: 0px}
	.cuadrodetalle { text-align: right;}
}



/*******************/
/*  GRUPO #2 y #3  */
/*******************/
.contentRuedas {display: flex; flex-direction: row; margin:40px auto; padding: 0px; width:600px}
.contentRuedas #ruedasmoto {order:1; margin:0px 40px 0px 0px; width:290px; padding: 0px; background-image: url(../img/index_ruedas_moto.png); background-position: top left; background-repeat:  no-repeat}
.contentRuedas #ruedascoche {order:2; margin:0px 0px 0px 40px; width:290px; padding: 0px; background-image: url(../img/index_ruedas_coche.png); background-position: top left; background-repeat:  no-repeat}
.contentRuedas .ruedastit { margin: 110px 20px 100px 0px; padding: 22px; font-family: 'Open Sans'; font-size: 31px; font-weight: bold; font-style: italic; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #0254aa; text-transform:uppercase; background: rgba(255,255,255,.6); width: 270px; height:80px}
.contentRuedas .ruedastitesp {/*margin: 77px 20px 60px 0px;*/  padding: 10px 0px; font-size:23px}
.contentRuedas .ruedasselec { font-family: ArialBoldIt; font-size: 20px; font-weight: bold; font-style: italic; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #ffe300; background-color: #0254aa; padding: 7px 0px; max-width: 230px; cursor: pointer}
.cbo14 {font-size:14px !important; padding-left: 10px}
#cboruedas {}
#cboruedas2 {margin-top:10px}
#cbollantas {margin-top:14px}
.ruedasgama {font-family: 'Open Sans'; font-size: 11px; font-weight: 600; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: left; color: #0254aa;  padding: 15px 0px 10px 0px; max-width:240px;}
.cbomenudesplegable { position: relative; margin: 0 auto; cursor: pointer;outline: none; font-family: Arial; font-weight: normal; font-style: italic; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #000000; background-color:#ffe300; width:290px; height: 45px!important; border:0px; font-size:12px; padding:15px 5px}
.cbomenudesplegable:after { content: ""; width: 0; height: 0; position: absolute; right: 15px; top: 50%; margin-top: -3px; border-width: 6px 6px 0 6px; border-style: solid; border-color: #000 transparent; }
.cbomenudesplegable .dropdown { position: absolute; top: 40px /*140%*/; left: 0; right: 0; padding:0px; background: #f4f4f4; box-shadow: 0 0 5px rgba(0,0,0,0.1); font-weight: normal; -webkit-transition: all 0.5s ease-in; -moz-transition: all 0.5s ease-in; -ms-transition: all 0.5s ease-in; -o-transition: all 0.5s ease-in; transition: all 0.5s ease-in; list-style: none;  opacity: 0; pointer-events: none; }
.cbomenudesplegable .dropdown:after { content: ""; width: 0; height: 0; position: absolute; bottom: 100%; right: 15px;border-color: #fff transparent;}
.cbomenudesplegable .dropdown li {text-transform: uppercase}
.cbomenudesplegable .dropdow_m li {text-transform:inherit}
.cbomenudesplegable .dropdown li a { display: block;
    padding: 10px 0px;	margin: 0px 10px; text-decoration: none; color: #000; border-bottom: 1px solid #979797; box-shadow: inset 0 1px 0 rgba(255,255,255,1); -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; font-family: Arial; font-style: italic; font-size:16px}
.cbomenudesplegable .dropdown li i {float: right; color: inherit;}
.cbomenudesplegable .dropdown li:first-of-type a {border-radius: 7px 7px 0 0; }
.cbomenudesplegable .dropdown li:last-of-type a {border: none; border-radius: 0 0 7px 7px; }
.cbomenudesplegable .dropdown li:hover a { background: #f3f8f8; }
.cbomenudesplegable.active .dropdown { opacity: 1; pointer-events: auto; z-index: 100}
@media screen and (max-width: 767px) {
	.contentRuedas {display: flex; flex-direction: column; max-width: 600px; width:inherit; } 
	.contentRuedas #ruedasmoto {margin:0px auto 30px auto; background-position: top center;}
	.contentRuedas #ruedascoche {margin:30px auto 0px auto; background-position: top center;}
	.contentRuedas .ruedasselec { margin: 0px auto}
	.ruedasgama  {text-align: center;}
}
/***********************/
/*  END GRUPO #2 y #3  */
/***********************/



/*******************/
/*  GRUPO #4 y #5  */
/*******************/
.contentRegalos {margin-top:10px; padding: 0px 20px}
.titRegalos {  font-family: Michelin;  font-size: 26px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #0254aa; text-transform: uppercase}
.rowRegalos {max-width: 1024px; margin:36px auto; padding: 0px}
.colRegalos {padding: 0px; margin: 0px}
.backRegalo {padding: 0px; margin: 0px auto 30px auto;  max-width: 645px; }
.titRegalo {font-family: MichelinBold; font-size: 23px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal;  color: #ffffff; text-transform: uppercase; padding: 25px 0px 25px 120px; max-width: 250px; margin:-10px 0px 55px 0px}
.circle01 {background-image:url(../img/circulo01.png); background-repeat: no-repeat; background-position: left center}
.circle02 {background-image:url(../img/circulo02.png); background-repeat: no-repeat; background-position: left center}
.circle03 {background-image:url(../img/circulo03.png); background-repeat: no-repeat; background-position: left center}
.btn { background-color: #ffe300;font-family: Arial; font-size: 18px; font-weight: normal; font-style: italic; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #000000; cursor: pointer; width: 300px; margin: 0px 0px 17px 0px; padding: 12px 0px 10px 0px; display: table;}
.btnContentPremios { text-align: center; margin: 0px 40px 0px 0px; padding: 0px}
.btnContentPremios .btnFrmEnviado { margin: 20px auto; width:140px;  font-family: 'Open Sans'; font-size: 19px; font-weight: bold; font-style: italic; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #ffe300; text-transform: capitalize; cursor: pointer; border:1px solid #0254aa}
.backRegalo .btn { display: inline-block; margin: 8px}
.btnArrow::after {   content: '\25bc'; padding-left: 0.5em;}
.backRegalo ul {display: none;  padding:7px 11px 4px 11px; background-color: #f4f4f4 !important; width: 300px;margin: -10px 8px 5px 8px;}
.backRegalo ul li {  font-family: 'Open Sans'; font-size: 16px; font-weight: normal; font-style: italic; font-stretch: normal; line-height: 1; letter-spacing: normal; color: #000000; padding: 5px 0px 5px 0px; border-bottom: 1px solid #000;  list-style-type: none; margin: 0px}
.backRegalo ul li:last-child {border: 0px}
.backRegalo ul li a {color: #000;}

@media screen and (max-width: 575px){ 
	.tit span:before { content: "\A";white-space: pre; }
	.backRegalo { text-align: center}
	.contentRegalos {margin-top:0px}
}
@media screen and (max-width: 1024px) {
.contentRegalos {background-image: none; text-align: center}
	.colRegalos { object-fit: contain; background-image: linear-gradient(to right, #0c5aa3, #1c316d); background-repeat: no-repeat; background-size: 100% 90px; }
	.backRegalo {margin:4px auto 60px auto; }
	.titRegalo { margin-bottom: 20px}
	.btnContentPremios { margin: 0px 0px 0px 0px;}
}
@media screen and (max-width: 350px) {
	.titRegalo { font-size: 19px; padding-top:30px; padding-bottom: 30px}  
	.btn {width: 100%; font-size: 16px}
}
.divtableRegalos {text-align: center; margin: 20px auto}
.divtableRegalos table {width: 100%;  border-spacing: 8px; border-collapse: separate;}
.divtableRegalos table th { font-family: Michelin; font-size: 11.6px; font-weight: 600; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #ffffff; text-transform: uppercase;padding: 7px 10px; border-radius: 6px; background-color: #0254aa}
.divtableRegalos table td {padding:3px 5px}
.divtableRegalos table td.tdTit {background-color: #FFF; font-family: 'Open Sans'; font-size: 9.5px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #0254aa; padding: 7px 10px; vertical-align: middle; border-radius: 5.8px; border: solid 3px #0254aa; text-transform: uppercase}
.divtableRegalos table td.tdTitMain { font-family: Michelin; font-size: 13px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #ffffff; border-radius: 5.8px; border: solid 1.2px #0254aa; background-color: #0254aa;}
.divtableRegalos table td.tdTitAmarillo {color: #0254aa; border-radius: 5.8px; border: solid 1.2px #ffe300; background-color: #ffe300;}
.divtableRegalos table td.tdTxt00 { font-family: Arial; font-size: 17px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #0254aa;  border-radius: 5.8px; border: solid 1.2px #0254aa; text-transform: uppercase}
.divtableRegalos table td.tdTxt01 {font-family: 'Open Sans'; font-size: 9px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.63; letter-spacing: normal; text-align: center; color: #0254aa; border-radius: 5.8px; border: solid 1.2px #0254aa; text-transform: uppercase;}
.divtableRegalos table td.tdAmarillo { border: solid 1.2px #ffe300;}
.divtableRegalos table td.tdWi00 {width:18%}
.divtableRegalos table td.tdWi01 {width:15%}
.divtableRegalos table td.tdWi02 {width:50%}
@media screen and (max-width: 575px){ 
	.divtableRegalos { display: block;  width: 100%;  overflow-x: auto;}
}

/***********************/
/*  END GRUPO #4 y #5  */
/***********************/




/*******************/
/*     GRUPO #6    */
/*******************/
.volver {text-align: left; font-family: 'Open Sans'; font-size: 15px; font-weight: normal; font-style: italic; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #000000; padding-left: 10px}
.volver a {text-decoration: none; color: #000}
.volver a:hover {text-decoration: underline; color: #000}
.titMichelin {padding: 0px 10px; margin: -20px 0px 60px 0px;  text-align: center}
.leftPremio {margin: 0px; padding: 0px; text-align: center}
.titPremio {  font-family: MontserratBold; font-size: 20px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #000000; margin: 5px 0px 20px 0px; text-transform: capitalize}
.txtPremio {border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; margin: 0px; padding: 8px 0px 15px 0px; font-family: MontserratLight; font-size: 13px; font-weight: 300; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: justify}
.txtPremio p {padding: 0px; margin: 5px 0px 10px 0px}
.txtPremio a { font-family: MontserratSemiBold; color:#000}
.frmBtn {float: right; margin:22px 0px}
.btnPremio {width: 185px; padding: 10px 10px; font-family: ArialBoldIt; font-size: 14px; font-weight: bold; font-style: italic; font-stretch: normal; line-height: normal; letter-spacing: 0.6px; text-align: center; color: #ffe300; text-transform: uppercase; background-color: #0254aa; cursor:pointer}
.titPremioCondiciones {font-family: MontserratBold; font-size: 16px; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #000000; margin: 70px 0px 10px 0px; font-weight: 600; text-align: center}
.txtPremioCondiciones {border-top:1px solid #cccccc; font-family: MontserratLight; font-size: 12.1px; font-weight: normal; font-style: normal; font-stretch: normal;  line-height: 1.71; letter-spacing: 0.4px; color: #000000; padding: 10px 0px; margin:0px 0px 30px 0px} 
.txtPremioCondiciones p {padding: 0px; margin: 5px 0px 5px 0px}
@media screen and (max-width: 767px) {
	.titPremio {margin-top:30px}
}
@media screen and (max-width: 575px) {
	.titMichelin  {margin-top:0px}
	.frmBtn {float: none;}
	.btnPremio {width:100%; }
	.leftPremio img {width:100%; padding: 0px 10px}
}
/***********************/
/*    END GRUPO #6     */
/***********************/



/*************************/
/*  GRUPO #7, #10 y #11  */
/*************************/
.titIndicar {  font-family: 'Open Sans'; font-size: 16px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.13; letter-spacing: normal; text-align: center; color: #0254aa; padding: 7px 10px; background-color: #ffe300; max-width: 540px; margin: 22px auto}
#frmFormulario {width:560px; margin:10px auto; padding: 0px;}
#frmFormulario .row { margin: 0px 0px 4px 0px; padding: 0px}
#frmFormulario .row .frmCol {padding:0px 11px; margin: 0px}
#frmFormulario input  { border: solid 1px #cacaca; background-color: #ffffff; font-family: Arial; font-size: 13px; font-weight: normal; font-style: italic; font-stretch: normal; letter-spacing: normal; text-align: center; color:#7C7C7C; padding: 5px 10px}
#frmFormulario textarea  { border: solid 1px #cacaca; background-color: #ffffff; font-family: Arial; font-size: 13px; font-weight: normal; font-style: italic; font-stretch: normal; letter-spacing: normal; text-align: center; color:#7C7C7C; padding: 5px 10px}
#frmFormulario select  { border: solid 1px #cacaca; background-color: #ffffff; font-family: Arial; font-size: 13px; font-weight: normal; font-style: italic; font-stretch: normal; letter-spacing: normal; text-align: center; color:#7C7C7C;
    text-indent: 0.01px; text-overflow: ''; background: linear-gradient(45deg, transparent 50%, #000 50%), linear-gradient(135deg, #000 50%, transparent 50%),   linear-gradient(to right, #FFF, #FFF); background-position: calc(100% - 11px) calc(0.7em + 0px), calc(100% - 6px) calc(0.7em + 0px), 100% 0; background-size: 5px 5px,5px 5px,0 0; background-repeat: no-repeat;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-appearance:none; -moz-appearance:none; height:30px; padding: 5px 10px; text-align-last: center; }
#frmFormulario input::placeholder {  color: #cacaca; opacity: 1; }
#frmFormulario textarea::placeholder {  color: #cacaca; opacity: 1; }
.etFrm{ font-family: Arial; font-size: 12px; font-weight: normal; font-style: italic; font-stretch: normal; line-height: 1; letter-spacing: normal; text-align: center; color: #cacaca; width:100%}
.upload-area{ width: 100%; height:40px;  border-radius: 2px; margin:5px 0px 10px 0px; text-align: center; overflow: auto;color:#222; background-color:#e5e5e6; border:1px dashed #979797; font-family: "Arial"; line-height: 1.2}
.upload-area:hover{ cursor: pointer}
.upload-area p{ text-align: center; font-weight: normal; font-size:10px; margin:0px; padding:6px 10px}
#file1, #file2{ display: none}

.checkbox { padding:0px; margin:5px 0px 0px 0px;  font-family:"Arial";  }
.checkbox label {  display: inline-block; position: relative; color:#343434;  margin: 0px; font-family: "Arial"!important; font-size: 8px!important;  font-weight: normal!important; font-style: italic; font-stretch: normal; padding-left:17px !important; margin-top:10px;  /*white-space: nowrap; */ line-height: 1.6}
.checkbox label a {color:#343434; text-decoration:underline}
.checkbox label::before {  content: ""; display: inline-block; position: absolute; width: 12px; height: 12px; left: 0; border: solid 1px #0254aa; border-radius: 3px; /*background-color: #FFF;*/ background-color: #fff0; -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after { display: inline-block; position: absolute; width: 12px; height: 12px; left: 0; top: 0;  padding-left: 3px; margin-top: 0px; font-size: 11px; color: #555555; }
.checkbox input {display:none;}
.checkbox input[type="checkbox"] {  opacity: 0;  border: #343434 solid 1px}
.checkbox input[type="checkbox"]:checked + label::after { font-family: 'FontAwesome'; content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label { opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before { background-color: #343434; cursor: not-allowed; border: solid 0.5px #0254aa; }
.checkbox-primary input[type="checkbox"]:checked + label::before { /*background-color: transparent; border-color:transparent;*/ background-color: #FFF; border-color:#0254aa;}
.checkbox-primary input[type="checkbox"]:checked + label::after { color:transparent; background-image: url("../img/ok.png"); background-repeat:no-repeat; background-position:center }
#indexRecaptcha .g-recaptcha > div {margin: 0 auto !important;}
#indexRecaptcha .g-recaptcha { transform:scale(0.85);}
#indexRecaptcha { margin:10px 0px 0px 2px; text-align: center}
.btnFrm {background-color: #0254aa; font-family: ArialBoldIt; font-size: 14px; font-weight: bold; font-style: italic; font-stretch: normal; line-height: normal; letter-spacing: 0.6px; text-align: center; color: #ffe300;padding: 10px; width:290px; margin: 20px auto; text-transform: uppercase; cursor:pointer}
@media screen and (max-width: 575px) {
	#frmFormulario {width:100%;}
}
.titError {font-family: 'Open Sans'; font-size: 16px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.13; letter-spacing: normal; text-align: center; color:#d30000; text-transform: uppercase; margin: -5px 0px 20px 0px;}

.has-error .form-control{ border:solid 1px #d30000!important;}
.has-error-upload-area { border:solid 1px #d30000!important;}
.checkbox label.has-error:before { border: 1px solid #d30000;}

.titContacto {  font-family: 'Open Sans'; font-size: 15px; font-weight: normal; font-style: normal; font-stretch: normal; letter-spacing: normal; text-align: center; color: #0254aa; max-width: 780px; margin:22px auto; line-height: 19px}
.titContacto b {font-family: 'Open Sans'; font-weight: bold}
.titContacto span {font-size:12px; line-height: 17px }
.textareacontacto { text-align: left !important}
#btnFrmContacto {display:flex; flex-direction: row}
#btnFrmContacto .btnFrm {max-width: 220px; cursor:pointer}
#contactRecaptcha .g-recaptcha > div {margin: 0 0 !important;}
#contactRecaptcha .g-recaptcha { transform:scale(0.75);}
#contactRecaptcha { margin:-10px 0px 0px 0px; text-align: center}
.titEnviado {font-family: MichelinSemiBold; font-size: 27px; font-weight: 600; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #9c9c9c; width:300px; margin: 80px auto 30px auto}
.btnFrmEnviado {background-color: #0254aa; font-family: ArialBoldIt; font-size: 14px; font-weight: bold; font-style: italic; font-stretch: normal; line-height: normal; letter-spacing: 0.6px; text-align: center; color: #ffe300;padding: 10px; width:140px; margin: 20px auto; text-transform: uppercase; cursor:pointer}

.titTaller{ font-family: Arial; font-size: 16px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.13; letter-spacing: normal; text-align: center; color: #0254aa; text-transform: uppercase; max-width: 460px; margin: 30px auto 30px auto}
.resTaller {margin:50px auto; padding: 0px; max-width: 1024px}
.resTaller ul {margin: 0px; padding: 0px;}
.resTaller ul li {display: inline-block; height: 120px; vertical-align: top; list-style-type: none; width:270px; border-bottom:1px solid #0254aa; font-family: Arial; font-size: 16px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.38; letter-spacing: normal; color: #0254aa; text-transform: uppercase;    margin: 0px 10px 30px 10px;}
.resTaller ul li strong {font-style: italic; line-height: 1.50}
@media screen and (min-width: 591px) and (max-width: 900px) {
	.resTaller ul {margin: 0px auto; padding: 0px; max-width: 600px}
}@media screen and (max-width: 590px) {
	.resTaller ul {margin: 0px auto; padding: 0px; max-width: 300px}
}
@media screen and (max-width: 767px) {
	#contactRecaptcha .g-recaptcha > div {margin: 0 auto !important;}
	#contactRecaptcha { margin:10px auto 0px auto; text-align: center}
}
@media screen and (max-width: 575px) {
	.titContacto { width:100%; max-width: inherit; font-size:12px}
	.titContacto span {font-size:10px; line-height: 12px }
	#btnFrmContacto {flex-direction: column}
	#btnCV {order:2}
	#btnCE {order:1}
	#btnFrmContacto .btnFrm {width:100%; margin: 10px 0px 10px 0px; max-width: inherit}
	.btnFrmEnviado {width:100%}
}
/***************************/
/*  END GRUPO #7, #10, #11 */
/***************************/



/*******************/
/*  GRUPO #8 y #9  */
/*******************/
.titEsp {  font-family: MichelinBold; font-size: 26px; font-weight: 900; font-style: normal; font-stretch: normal; line-height: 1.55; letter-spacing: normal; text-align: center;  color: #0254aa; margin:50px 0px; padding:0px}
.txtEsp { max-width:630px; font-family: 'Open Sans'; font-size: 16px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.25; letter-spacing: normal; text-align: center; color: #0254aa; min-height: 100px; margin: auto; text-transform: uppercase}
.btnEsp { background-color: #0254aa; cursor: pointer;  font-family: ArialBoldIt; font-size: 14px; font-weight: bold; font-style: italic; font-stretch: normal; line-height: normal; letter-spacing: 0.6px; text-align: center; color: #ffe300; padding:7px 10px; width:140px; margin: 45px auto; text-transform: uppercase}
.titul {margin: 5px 0px 10px 3px}
@media screen and (max-width: 575px) {
	.titEsp {font-size:25px;margin:30px 0px;}
	.txtEsp {font-size:14px; line-height: 1.5}
	.btnEsp {width:100%;}
}
/***********************/
/*  END GRUPO #8 y #9  */
/***********************/



/**********************/
/*  GRUPOS #12 y #13  */
/**********************/
.titLeg {  font-family: MichelinBold; font-size: 26px; font-weight: 900; font-style: normal; font-stretch: normal; line-height: 1.55; letter-spacing: normal; text-align: center;  color: #0254aa; margin:20px 0px 60px 0px; padding:0px; text-transform: uppercase}
.subtitLeg { font-family: ArialBoldIt; font-size: 20px; font-weight: bold; font-style: italic; font-stretch: normal; line-height: normal; letter-spacing: 0.5px;
  color: #0254aa; margin:40px 0px 20px 0px; padding: 0px}
.txtLeg {  font-family: Arial; font-size: 16px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: 0.3px; color: #0254aa; margin:10px 0px 30px 0px; padding: 0px; text-align: justify}
.txtLeg ul {}
.txtLeg ul li {margin-left: 30px}
.containerLeg {padding: 0px 30px; max-width: 960px}
@media screen and (max-width: 575px) {

}
/**************************/
/*  END GRUPOS #12 y #13  */
/**************************/

/* BEGIN 20190317 */			
.input100 {width:100%} /* Utilizado en el input Talleres y formularios de participación y contacto.*/
.sepinput {margin-bottom: 1rem} /* Utilizado en formularios de participación y contacto.*/
.recMainIndexAjuste01 {height:48px} /* Caja texto Moto gama en inicio */
.recMainIndexAjuste02 {margin-bottom: 1px}
.recMainIndexAjuste03 {margin-top:6px}
/* END 20190317 */ 



.ley_pre { font-family: 'Open Sans'; font-size: 8px; font-weight: 600; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal;  color: #0254aa; text-align:left; margin-left:10px}
.frmSelec {font-family: 'Open Sans'; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal;  text-align: center;  color: #000000; width: 120px; margin: 10px auto 0px 0px }
.cbotalla {  font-family: Michelin;  font-size: 19px; font-weight: 600; font-style: normal;  font-stretch: normal; line-height: 0.58; letter-spacing: normal; text-align: center; color: #4a4a4a; width:120px}
.cbotalla option {text-align: center}

#barraaceptacionPrivacidad, #barraaceptacion {  position:fixed;  overflow: scroll;left:0px; right:0px; bottom:0px; padding-bottom:20px; width:100%; height:100%; text-align:center; background-color: rgba(216, 216, 216, 0.78);; color:#fff; z-index:99999; top:0px }
.inner { width:80%; max-width: 800px; position:relative; padding-left:5px; top:30%; background-color:rgba(255,255,255,1); padding:10px 30px 20px 30px; margin:auto; color:#000; font-family: 'Open Sans' ; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.5; letter-spacing: normal; text-align: left; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.inner h1 { font-family: 'Open Sans' ;  font-size: 26px;  font-weight: bold;  font-stretch: normal;  line-height: normal;  letter-spacing: normal; color: #0254aa; margin:0px; padding:0px 0px 10px 0px; font-style:italic; text-align: center}
.inner a.info { font-family: 'Open Sans'; padding:5px; text-decoration:underline; color:#000; font-size:13px; text-align: center}
.inner a.ok { border:1px solid #0254aa; color:#ffe300; background-color:#0254aa; padding:8px 20px 10px 20px; font-size:20px; margin:0px 0px 0px 0px;  font-weight: bold; font-style: italic}
.innerSlog {color:#0254aa; padding: 0px 10px; text-align: center; text-transform: uppercase}
#barraaceptacionPrivacidad hr { border-color: #0254aa; margin-top:0px}
#barraaceptacion hr { border-color: #0254aa; margin-top:0px}
#barraaceptacionPrivacidad  {max-height: calc(100vh - 0px); overflow-y: auto;}
#barraaceptacionPrivacidad .inner{ top:2%;}

@media screen and (max-width: 540px){
	.inner { width:90%;top:10%}
	.inner a.ok {width:100%; display:block; text-align:center; }
	.inner a.info {width:100%; display:block; text-align:center;margin:0px 0px;  }
	.inner span {visibility:hidden}
}
@media screen and (min-width: 541px) and (max-width: 1023px){
	.inner { width:70%;top:10%}
}
@media screen  and (min-width: 992px){
	.inner {top:10%;}
}

.detpolitica .noair {padding:4px 10px}
.detpolitica .impar {background-color: rgba(168, 168, 168, 0.13);}