﻿<html>
<head>
    <meta charset="utf-8">
    <title>Código Correcto | Consigue tus pegatinas gratis | Kellogg's</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
    <meta name="robots" value="noindex" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/Content/css/bootstrap4.css">
    <link rel="stylesheet" href="/Content/css/styles.css">
    <style type="text/css">
		.divindex {margin-bottom: 40px; margin-left: 130px;}
		@@media screen and (max-width: 1024px)  {
			.divindex {margin: auto}
		}
		.txtsubIndex {margin: 60px auto 35px auto}
		.KSTL-Registration .pod { border:0px !important}
		.ng-binding h2 { display: none!important}
		.ng-binding p  { display: none!important}
		.ng-scope label {text-align: left; color:#FFF; font-family: ClarendonBT; font-size: 14px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; /*padding-left:30px;*/ max-width: 360px; display: inherit;}
		.ng-scope input {border-radius: 2px; background-color: #98ddf5; text-align: center;   font-family: KelloggsSansMedium; font-size: 17px;  color: #FFF;  border: 0px !important; padding: 8px 10px 6px 10px; text-align:left; max-width: 360px !important}
		.ng-scope button {font-family:KelloggsSansMedium;  font-size: 20px !important; font-weight: 500; font-style: normal; font-stretch: normal; line-height: normal;  letter-spacing: normal; text-align: center !important; color: #ffffff; width:220px; padding: 2px 13px; background-color: #163863; border:0px !important; margin: 15px auto 10px auto}
		#noestoy { margin-top:0px}
		@@media screen and (max-width: 1024px)  {
			#noestoy { margin-top:0px}
			.divindex {margin-bottom: -30px}
		}
		@@media screen and (max-width: 576px)  {
			.ng-scope label {max-width: 100% !important}
			.ng-scope input {max-width: 100% !important}
		}
		a {color:#fff !important}
		a:hover{color:#fff !important}

		body {background-repeat: repeat}
		@@media screen and (max-width: 1024px) and (min-width: 576px){
			body {
				background-image: url(/Content/img/fnd_toy_tablet_k2.png);
				background-position: top right;
			}
		}
		#reg-container  {/*height: 600px; /*overflow: scroll;*/ margin-bottom: 40px;}

	@@media screen and (min-width: 576px){
		.containerKellogs {height: 110% !important; min-width: 600px}
		#KSTL-Registration-wrapper-UserName {width: 45%; display: inline-block; margin: auto 10px}
		#KSTL-Registration-wrapper-UserNameConfirm {width: 45%; display: inline-block; margin: auto 10px}
		#KSTL-Registration-wrapper-Password {width: 45%; display: inline-block; margin: auto 10px}
		#KSTL-Registration-wrapper-PasswordConfirm  {width: 45%; display: inline-block; margin: auto 10px}
		#KSTL-Registration-wrapper-BirthDate   {width: 45%; display: inline-block; margin: auto 10px; vertical-align: top}
		#KSTL-Registration-wrapper-FirstName  {width: 45%; display: inline-block; margin: auto 10px}
		#KSTL-Registration-wrapper-LastName   {width: 45%; display: inline-block; margin: auto 10px}
		#KSTL-Registration-wrapper-AddressLine1  {width: 45%; display: inline-block; margin: auto 10px}
		#KSTL-Registration-wrapper-AddressLine2  {width: 45%; display: inline-block; margin: auto 10px; display:
none}
		#KSTL-Registration-wrapper-Country  {width: 45%; display: inline-block; margin: auto 10px}
		#KSTL-Registration-wrapper-PrivacyPolicy  {width: 45%; display: inline-block; margin: auto 10px}
		#KSTL-Registration-wrapper-City {width: 45%; display: inline-block; margin: auto 10px}
		#KSTL-Registration-wrapper-PostalCode {width: 45%; display: inline-block; margin: auto 10px}
		#KSTL-Registration-wrapper-PhoneNumber1 {width: 45%; display: inline-block; margin: auto 10px}
		#KSTL-Registration-wrapper-PhoneNumber2 {width: 45%; display: inline-block; margin: auto 10px}
		#KSTL-Registration-wrapper-HeaderSubscription {display: none}
		}
		@@media screen and (max-width: 575px){
			.content {padding: 0px 0px 400px 0px;}
			body {background-image: url(/Content/img/fnd_toy_smart_k2.png);	}
		}
    </style>
</head>
<body>
    <div class="content  contentKellogs">
        <div class="container containerKellogs">
            <div class="divindex">
                <div class="logo"><img src="/Content/img/logo.png" alt="Kellog's" clasS="img-fluid" /></div>
                <div class="btnEnviar" id="noestoy">Ya estoy registrado</div>
                <div class="txtIndex" style="font-size:14px; margin: 20px auto">Para acceder, regístrate rellenando los siguientes campos:</div>
                <div id="reg-container">
                    <!-- the reg v6 module UI will be rendered into this element -->
                </div>
            </div>
            <div class="imgpegat"><!--<img src="/Content/img/pegatinas.png" alt="pegatinas gratis" />--></div>
            <!-- <div class="imgpegat_tablet"><img src="/Content/img/pegatinas_tablet.png" alt="pegatinas gratis" class="img-fluid" /></div>
        <div class="imgpegat_smart"><img src="/Content/img/pegatinas_smart.png" alt="pegatinas gratis" class="img-fluid" /></div>-->
        </div>
        <!-- <div id="imgcoc"><img src="/Content/img/cocina.png" alt="cocina disney"></div>-->
    </div>

    <div id="footer">
        <ul>
            <li><a target="_blank" href="pdf/politicacookies.pdf">POLÍTICA DE COOKIES</a></li>
            <li><a target="_blank" href="https://www.kelloggs.es/es_ES/privacy-policy.html">POLÍTICA DE PRIVACIDAD</a></li>
            <li><a target="_blank" href="pdf/baseslegales.pdf">BASES LEGALES</a></li>
            <li class="ult"><a href="https://www.kelloggs.es/es_ES/contact_us_es.html">CONTACTO</a></li>
        </ul>
        <div class="copy">™, ®,© 2019 Kellogg Company</div>
    </div>



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        (function () {

            var container = document.getElementById('reg-container');

            var configObj = {
                environment: 'stage', // prod or 'stage' for testing
                moduleKey: '2783353f-0fbb-46e4-9f37-44c59dde1e33', // from the module admin tool
                showSignup: true,
                /*showLogin: true,*/
                myAccountUrl: '/path/to/myaccount.html', // required, if you are implementing my account v6
                onAuth: function (authUser, callback) {
                    //alert(JSON.stringify(authUser));

                    //alert(authUser["ProfileID"]);

                    //var dondeestoy = authUser["FromPage"];
                    //alert(dondeestoy);
                    $.ajax({
                        type: 'POST',
                        contentType: "application/json",
                        url: "/es_ES/GetId",
                        data: JSON.stringify({ "id": authUser["ProfileID"] }),
                        dataType: 'json',
                        timeout: 100000,
                        success: callback
                    });
                },
                onExit: function (authUser) {
                    // your redirect logic goes here
                    // NOTE: if you already used onAuth to authenticate the user
                    // then you don't need to do anything with authUser here

                    window.location = '/es_ES/Congrats';
                }
            };

            function initReg() {
                // initialize the reg v6 module
                var regModule = KSTL.Registration.init(container, configObj);

                // subscribe to module event notifications
                var eventViewRender = regModule.bind('view:render', function (topic, view) {
                    console.log('regv6 view:render', view.name, view.element);
                    // if you wish to unsubscribe
                    // regModule.unbind(eventViewRender);
                });

                var eventFormSubmit = regModule.bind('form:submit', function (topic, form) {
                    console.log('regv6 form:submit', form.name);

                    // if you wish to unsubscribe
                    // regModule.unbind(eventViewRender);
                });
            }

            // async script loader... do not modify
            (function () {
                var src, kreg, s;

                if (configObj.environment === 'stage') {
                    src = 'https://stage.registration.kglobalservices.com/scripts/registration.min.js';
                } else {
                    src = 'https://registration.kglobalservices.com/scripts/registration.min.js';
                }

                kreg = document.createElement('script');
                kreg.type = 'text/javascript';
                kreg.onload = kreg.onreadystatechange = function () {

                    if (!this.readyState || this.readyState === 'loaded' || this.readyState === 'complete') {
                        kreg.onload = kreg.onreadystatechange = null;
                        initReg();
                    }
                };
                kreg.src = src;
                s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(kreg, s);
            })();

        })();
    </script>
    <script>
        $("#noestoy").click(function () {
            window.location = '/es_ES/Login';
        });

    </script>
</body>
</html>
