﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lo Sentimos | Consigue tus pegatinas gratis | Kellogg's</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
    <meta name="robots" value="noindex" />


    <link rel="shortcut icon" href="~/Content/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="~/Content/css/bootstrap4.css">
    <link rel="stylesheet" href="~/Content/css/styles.css">
    <style type="text/css">
        .txtsubIndex {
            margin: 30px auto 35px auto
        }

        .divindex {
            margin-bottom: 40px
        }
    </style>
</head>
<body>
    <div class="content  contentKellogs">
        <div class="container containerKellogs">
            <div class="divindex">
                <div class="logo"><img src="~/Content/img/logo.png" alt="Kellog's" clasS="img-fluid" /></div>


                <div class="txtIndex">LO SENTIMOS...</div>
                <div class="txtsubIndex">Se han entregado todas las pegatinas</div>

                @Html.ActionLink("Finalizar", "Index", "es_ES", null, new { @class = "btn btnEnviar" })
            </div>
            <div class="imgpegat"><img src="~/Content/img/pegatinas_especial.png" alt="pegatinas gratis" /></div>
            <div class="imgpegat_tablet"><img src="~/Content/img/pegatinas_tablet_especial.png" alt="pegatinas gratis" class="img-fluid" /></div>
            <div class="imgpegat_smart"><img src="~/Content/img/pegatinas_smart_especial.png" alt="pegatinas gratis" class="img-fluid" /></div>
        </div>
        <div id="imgcoc"><img src="~/Content/img/cocina.png" alt="cocina disney"></div>
    </div>

    <div id="footer">
        <ul>
            <li><a target="_blank" href="pdf/politicacookies.pdf">POLÍTICA DE COOKIES</a></li>
            <li><a target="_blank" href="https://www.kelloggs.es/es_ES/privacy-policy.html">POLÍTICA DE PRIVACIDAD</a></li>
            <li><a target="_blank" href="pdf/baseslegales.pdf">BASES LEGALES</a></li>
            <li class="ult"><a href="https://www.kelloggs.es/es_ES/contact_us_es.html">CONTACTO</a></li>
        </ul>
        <div class="copy">™, ®,© 2019 Kellogg Company</div>
    </div>



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
